@using BlazorAgenda.Shared.Enums;
@using BlazorAgenda.Shared.Models;
@using BlazorAgenda.Shared.Interfaces;
@using BlazorAgenda.Shared.Interfaces.BaseObjects;
@using BlazorAgenda.Services.Interfaces;
@using System;
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

@switch ((ElementTypes)Option.ElementType)
{
    case ElementTypes.Text:
        if (Option.IsMandatory)
        {
            <input class="textInput OptionInput" type="text" bind="@EventOptions[0].Value" placeholder="@Option.Description" required />
        }
        else
        {
            <input class="textInput OptionInput" type="text" bind="@EventOptions[0].Value" placeholder="@Option.Description"/>
        }
        break;
    case ElementTypes.Check:
        if (Option.IsMandatory)
        {
            <label class="Ccontainer">
                <input class="form-control checkbox OptionInput" type="checkbox" bind="@CheckBoxValue" required />
                <span class="Ccheckmark"></span>
            </label>

        }
        else
        {
            <label class="container">
                <input class="form-control checkbox OptionInput" type="checkbox" bind="@CheckBoxValue" />
                <span class="checkmark"></span>
            </label>
        }
        break;
    case ElementTypes.Number:
        if (Option.IsMandatory)
        {
            <input class="textInput OptionInput" type="number" step="1" bind="@EventOptions[0].Value" placeholder=0 required />
        }
        else
        {
            <input class="textInput OptionInput" type="number" step="1" bind="@EventOptions[0].Value" placeholder=0 />
        }
        break;
    case ElementTypes.Telephonenumber:
        if (Option.IsMandatory)
        {
            <input class="textInput OptionInput" type="tel" pattern="[0-9]{8}" bind="@EventOptions[0].Value" required />
        }
        else
        {
            <input class="textInput OptionInput" type="tel" pattern="[0-9]{8}" bind="@EventOptions[0].Value" />
        }
        break;
    case ElementTypes.Address:
        if (Option.IsMandatory)
        {
            <input class="textInput OptionInput" type="text" pattern="^\d{4}\D{2}$" bind="@EventOptions[0].Value" required />
        }
        else
        {
            <input class="textInput OptionInput" type="text" pattern="^\d{4}\D{2}$" bind="@EventOptions[0].Value" />
        }
        break;
    case ElementTypes.Date:
        if (Option.IsMandatory)
        {
            <input class="textInput OptionInput" type="date" bind="@EventOptions[0].Value" required />
        }
        else
        {
            <input class="textInput OptionInput" type="date" bind="@EventOptions[0].Value" />
        }
        break;
    case ElementTypes.Email:
        if (Option.IsMandatory)
        {
            <input class="textInput OptionInput" type="email" bind="@EventOptions[0].Value" />
        }
        else
        {
            <input class="textInput OptionInput" type="email" bind="@EventOptions[0].Value" />
        }
        break;

    case ElementTypes.Textarea:
        if (Option.IsMandatory)
        {
            <textarea class="form-control" bind="@EventOptions[0].Value" />
        }
        else
        {
            <textarea class="form-control" bind="@EventOptions[0].Value" />
        }
        break;
    case ElementTypes.StaffSelection:
        if (Option.IsMandatory)
        {
            <select class="OptionInput" bind="@EventOptions[0].Value" required>
                <option value="" selected disabled hidden>-- Choose a staffmember --</option>
                @foreach (User dropdownItem in StaffMembers)
                {
                    <option value="@dropdownItem.Emailadress">@dropdownItem.Firstname @dropdownItem.Lastname</option>
                }
            </select>
        }
        else
        {
            <select class="OptionInput" bind="@EventOptions[0].Value">
                <option value="" selected>-- Choose a staffmember --</option>
                @foreach (User dropdownItem in StaffMembers)
                {
                    <option value="@dropdownItem.Emailadress">@dropdownItem.Firstname @dropdownItem.Lastname</option>
                }
            </select>
        }

        break;
    case ElementTypes.Dropdown:
        if (Option.IsMandatory)
        {
            <select class="OptionInput" onchange="@OnDropdownChange" required>
                @if (EventOptions[0].Value == null)
                {
                    <option value="" selected disabled hidden>-- Choose an option --</option>
                }
                @foreach (Option dropdownItem in Option.InverseOptionNavigation)
                {
                    if (EventOptions[0].Value == dropdownItem.Text)
                    {
                        <option value="@dropdownItem.Text" selected>@dropdownItem.Text</option>
                    }
                    else
                    {
                        <option value="@dropdownItem.Text">@dropdownItem.Text</option>
                    }
                }
            </select>
        }
        else
        {
        <select class="OptionInput" onchange="@OnDropdownChange">
            <option value="" selected>-- Choose an option --</option>
            @foreach (Option dropdownItem in Option.InverseOptionNavigation)
            {
                if (EventOptions[0].Value == dropdownItem.Text)
                {
                    <option value="@dropdownItem.Text" selected>@dropdownItem.Text</option>
                }
                else
                {
                    <option value="@dropdownItem.Text">@dropdownItem.Text</option>
                }
            }
        </select>
        }

        break;
    case ElementTypes.MultiSelect:
        if (Option.IsMandatory)
        {
            <select class="select-multiple-option-type-component" onchange="@OnMultiSelectChange" onchange="selectChange(this)" ref="@multiSelect" multiple="multiple" required>
                @foreach (Option dropdownItem in Option.InverseOptionNavigation)
                {
                    @if (EventOptions.FirstOrDefault(evOp => evOp.Value == dropdownItem.Text) is EventOption eventOption)
                    {
                        <option selected value="@dropdownItem.Text">@dropdownItem.Text</option>
                    }
                    else
                    {
                        <option value="@dropdownItem.Text">@dropdownItem.Text</option>
                    }
                }
            </select>
        }
        else
        {
        <select class="select-multiple-option-type-component" onchange="@OnMultiSelectChange" onchange="selectChange(this)" ref="@multiSelect" multiple="multiple" required>
            @foreach (Option dropdownItem in Option.InverseOptionNavigation)
            {
                @if (EventOptions.FirstOrDefault(evOp => evOp.Value == dropdownItem.Text) is EventOption eventOption)
                {
                    <option selected value="@dropdownItem.Text">@dropdownItem.Text</option>
                }
                else
                {
                    <option value="@dropdownItem.Text">@dropdownItem.Text</option>
                }
            }
        </select>
        }

        break;
    @*case ElementTypes.Radiobutton:
        <input class="form-control" type="checkbox" bind="@EventOptions[0].Value" />
        break;*@
}

@functions
{
    [Parameter] protected IOption Option { get; set; }

    [Parameter] protected List<EventOption> EventOptions { get; set; } = new List<EventOption>();

    [Inject] protected IUserService UserService { get; set; }
    [Inject] protected IOptionService OptionService { get; set; }
    [Inject] protected IStateService StateService { get; set; }
    [Parameter] public List<User> StaffMembers { get; set; }
    [Parameter] Action<List<EventOption>> OnNewEventOptions { get; set; }
    [Parameter] Action<List<EventOption>> OnSetMultiEventOptions { get; set; }
    private bool _checkBoxValue = false;

    public bool CheckBoxValue
    {
        get { return _checkBoxValue; }
        set
        {
            _checkBoxValue = value;
            EventOptions[0].Value = CheckBoxValue.ToString();
        }
    }

    ElementRef multiSelect;

    protected override void OnInit()
    {
        if ((ElementTypes)Option.ElementType != ElementTypes.MultiSelect) {
            if (EventOptions.Count == 0) {
                EventOptions.Add(new EventOption() { Option = Option as Option });
            }
            if (EventOptions[0].Value == null)
            {
                OnNewEventOptions?.Invoke(EventOptions);
            }
            if ((ElementTypes)Option.ElementType == ElementTypes.Check)
            {
                if (EventOptions[0].Value == string.Empty)
                {
                    EventOptions[0].Value = "False";
                }
                else if (EventOptions[0].Value == "True")
                {
                    CheckBoxValue = true;
                }
            }
        }
    }

    protected async override Task OnParametersSetAsync()
    {
        if (StaffMembers == null && (ElementTypes)Option.ElementType == ElementTypes.StaffSelection)
        {
            StaffMembers = new List<User>();
            StaffMembers = await UserService.GetStaffByOrganization(StateService.Organization);
        }
    }

    public void OnCheckboxChanged(UIChangeEventArgs e)
    {
        EventOptions[0].Value = e.Value.ToString();
    }

    public void OnDropdownChange(UIChangeEventArgs e)
    {
        EventOptions[0].Value = e.Value.ToString();
        EventOptions[0].Option = Option.InverseOptionNavigation.FirstOrDefault(suboption => suboption.Text == e.Value.ToString());
    }

    public async void OnMultiSelectChange(UIChangeEventArgs e)
    {
        List<string> selectedList = await JSRuntime.InvokeAsync<List<string>>(
            "JsFunctions.getSelectedList", multiSelect);

        EventOptions = new List<EventOption>();
        if (selectedList.Count != 0) {
            foreach (string option in selectedList)
            {
                EventOption eventOption = new EventOption() { Value = option };
                eventOption.Option = Option as Option;

                EventOptions.Add(eventOption);
            }
        }

        OnSetMultiEventOptions?.Invoke(EventOptions);
    }
}
