@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Client.Shared;
@using BlazorAgenda.Shared.Models
@using BlazorAgenda.Shared.Enums

@inherits AppointmentOptionsViewModel

<form onsubmit="@SubmitEventOptions" class="container-fluid">
    <fieldset >
        <div class="OptionGrid">
            @foreach (Option option in Options)
            {
                <div class="OptionContainer">
                    <span class="OptionLabel">
                        @if (option.IsMandatory)
                        {
                            <label>*@option.Text</label>
                        }
                        else
                        {
                            <label>@option.Text</label>
                        }
                    </span>
                    <span class="OptionInputContainer">
                        @if (Event.EventOption.Where(evOption => evOption.OptionId == option.Id).ToList() is List<EventOption> eventOptions)
                        {
                            <OptionTypeComponent Option="@option" EventOptions="@eventOptions" OnNewEventOptions="@(neweventOptions => AddNewEventOptions(neweventOptions))"  OnSetMultiEventOptions="@(multiEventOptions => SetMultiEventOptions(multiEventOptions, option))" />

                        }
                        else
                        {
                            <OptionTypeComponent Option="@option" OnNewEventOptions="@(neweventOptions => AddNewEventOptions(neweventOptions))" OnSetMultiEventOptions="@(multiEventOptions => SetMultiEventOptions(multiEventOptions, option))" />
                        }
                    </span>
                </div>
            }
            </div>
            <button onclick="@ToPreviousTab" class="appointmentNavigationButton previousNavigationButton">
                <span>
                    <i class="oi oi-arrow-left" />
                </span>
                previous
            </button>
            <button type="submit" value="Submit" class="appointmentNavigationButton continueNavigationButton">
                continue
                <span>
                    <i class="oi oi-arrow-right" />
                </span>
            </button>
</fieldset>
</form>
