@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Client.Shared;
@using BlazorAgenda.Shared.Models
@using BlazorAgenda.Shared.Enums

@inherits AppointmentOptionsViewModel

<form onsubmit="@SubmitEventOptions" class="container-fluid">
    <fieldset>
        @foreach (Option option in Options)
        {
            <div class="form-row">
                <span class="col-sm-5">
                    <label class="col-form-label">@option.Text</label>
                </span>
                <span class="col-sm-7 input-group">
                    @if (Event.EventOption.Where(evOption => evOption.OptionId == option.Id).ToList() is List<EventOption> eventOptions && eventOptions[0] != null && eventOptions[0] != default)
                    {
                        <OptionTypeComponent Option="@option" EventOptions="@eventOptions" OnNewEventOptions="@(neweventOptions => AddNewEventOptions(neweventOptions))"  OnSetMultiEventOptions="@(multiEventOptions => SetMultiEventOptions(multiEventOptions, option))" />

                    }
                    else
                    {
                        <OptionTypeComponent Option="@option" OnNewEventOptions="@(neweventOptions => AddNewEventOptions(neweventOptions))" OnSetMultiEventOptions="@(multiEventOptions => SetMultiEventOptions(multiEventOptions, option))" />
                    }
                </span>
            </div>
        }
        <button type="submit" value="Submit" class="continue">
            continue
            <span>
                <i class="oi oi-arrow-right" />
            </span>
        </button>
    </fieldset>
</form>
