@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Client.Shared;
@using BlazorAgenda.Shared.Models
@using BlazorAgenda.Shared.Enums

@inherits AppointmentOptionsViewModel

<form onsubmit="@SubmitEventOptions" class="container-fluid">
    <fieldset >
        <div class="OptionGrid">
            @foreach (Option option in Options)
            {
                <div class="OptionContainer">
                    <span class="OptionLabel">
                        <label>@option.Text</label>
                    </span>
                    <span class="OptionInputContainer">
                        @if (Event.EventOption.FirstOrDefault(evOption => evOption.OptionId == option.Id) is EventOption eventOption && eventOption != default)
                        {
                            <OptionTypeComponent Option="@option" EventOption="@eventOption" OnNewEventOption="@(neweventOption => AddNewEventOption(neweventOption))" />

                        }
                        else
                        {
                            <OptionTypeComponent Option="@option" OnNewEventOption="@(neweventOption => AddNewEventOption(neweventOption))" />
                        }
                    </span>
                </div>
            }
            </div>
            <button onclick="@ToPreviousTab" class="appointmentNavigationButton previousNavigationButton">
                <span>
                    <i class="oi oi-arrow-left" />
                </span>
                previous
            </button>
            <button type="submit" value="Submit" class="appointmentNavigationButton continueNavigationButton">
                continue
                <span>
                    <i class="oi oi-arrow-right" />
                </span>
            </button>
</fieldset>
</form>
