@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared.Models
@using BlazorAgenda.Shared.Enums
@inherits AppointmentJobViewModel

<form onsubmit="@SubmitEventOptions" class="container-fluid">
    <fieldset>
        @if (StateService.Organization is Organization)
        {
            <!-- Job -->
            <div class="form-row">
                <span class="col-sm-5">
                    <label class="col-form-label">Job</label>
                </span>
                <span class="col-sm-7 input-group">
                    <select onchange="@SetEventJob" required>
                        <option value="" selected disabled hidden>-- Choose a job --</option>
                        @foreach (Job job in StateService.Organization.Job)
                        {
                            <option value="@job.Id">@job.Name</option>
                        }
                    </select>
                </span>
            </div>
            @if (SelectedJobUsers.Count != 0)
            {
                <!-- User -->
                <div class="form-row">
                    <span class="col-sm-5">
                        <label class="col-form-label">User</label>
                    </span>
                    <span class="col-sm-7 input-group">
                        <select onchange="@SetEventUser" required>
                            <option value="-1" selected disabled hidden>-- Choose a user --</option>
                            <option value="-2">No preference</option>

                            @foreach (User user in SelectedJobUsers)
                            {
                                <option value="@user.Id">@user.Firstname @user.Lastname</option>
                            }
                        </select>
                    </span>
                </div>
            }
            @foreach (Option option in Options)
            {
                <div class="form-row">
                    <span class="col-sm-5">
                        <label class="col-form-label">@option.Text</label>
                    </span>
                    <span class="col-sm-7 input-group">
                        <OptionTypeComponent Option="@option" OnNewEventOption="@(eventOption => AddNewEventOption(eventOption))" />
                    </span>
                </div>
            }
        }
        <button type="submit" value="Submit">
            <span>
                <i class="oi-arrow-thick-left" />
            </span>
        </button>
    </fieldset>
</form>
