@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Client.Shared;
@using BlazorAgenda.Shared.Models
@using BlazorAgenda.Shared.Enums

@inherits AppointmentDateTimeSelectionViewModel
    <div class="container-fluid">
        <div class="dateTimeSelectionView">
            <InlineDatePicker SelectedDate="@Event.Start" OnSelectedDate="@OnSelectedDate" />
            <div style="padding: 10px">
                <h3 style="text-align: center">Available times</h3>
                <div class="availableAppointmentTimes">
                    @if (AvailableTimes.Count > 0)
                    {
                        @foreach (DateTime time in AvailableTimes)
                        {
                            @if (Event.Start != default && Event.Start == time)
                            {
                                <div class="timeSlot" style="background-color: lightblue" onclick="@( () => OnSelectedTime(time))">
                                    &nbsp;@time.ToString("HH:mm")
                                </div>
                            }
                            else
                            {
                                <div class="timeSlot" onclick="@( () => OnSelectedTime(time))">
                                    &nbsp;@time.ToString("HH:mm")
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div>
                <button onclick="@ToPreviousTab" class="appointmentNavigationButton previousNavigationButton">
                    <span>
                        <i class="oi oi-arrow-left" />
                    </span>
                    previous
                </button>
                </div>
            <div>
                @if (Event.End != default)
                {
                    <button onclick="@Submit" class="appointmentNavigationButton continueNavigationButton">
                        continue
                        <span>
                            <i class="oi oi-arrow-right" />
                        </span>
                    </button>
                }
            </div>
        </div>
    </div>

