@using BlazorAgenda.Client.Services;
@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared
@using BlazorAgenda.Shared.Models
@using BlazorAgenda.Shared.Interfaces.BaseObjects
@inherits DragDropViewModel

<td class="@(Start.Date == DateTime.Now.Date ? "active" : null)">
    <div class="eventContainer" ondragenter="@(e => OnContainerDragEnter(e))" ondragover="event.preventDefault();"
        ondragleave="@(e => OnContainerDragLeave(e))" ondrop="@(e => OnContainerDrop(e, Start))"
        onclick="@OnContainerClick" style="@HighlightDropTargetStyle">
        @foreach (CalendarEvent calendarEvent in DragDropHelper.Items)
        {
            IBaseEvent item = calendarEvent.Event;
            if (item.Start == Start)
            {
                int rowspan = (int)((item.End - item.Start).TotalHours * 4);
                int numEvents = DragDropHelper.Items.FindAll(x => x.Event.Start == item.Start).Count;
                <CalendarEventView CalendarEvent="@calendarEvent" Rowspan="@rowspan" NumEvents="@numEvents" DragStart="@OnItemDragStart" />
            }
        }
    </div>
</td>
