@using BlazorAgenda.Client.Services
@using BlazorAgenda.Services.Interfaces
@using BlazorAgenda.Client.Views.BaseViews
@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared.Models

@inherits UserViewModel

<ModalTemplateView Title="@Title" OnClose="@OnClose" IsVisible="true" OnSubmit="@Save">
    <ModalContent>
        <div class="form-row">
            <span class="col-sm-5">
                <label class="col-form-label">Email</label>
            </span>
            <span class="col-sm-7 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">&#64;</span>
                </div>
                <input class="form-control" type="text" placeholder="Email" bind="@User.Emailadress" required />
            </span>
        </div>
        <div class="form-row">
            <span class="col-sm-5">
                <label class="col-form-label">First Name</label>
            </span>
            <span class="col-sm-7 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="oi oi-person"></i></span>
                </div>
                <input class="form-control" type="text" placeholder="First name" bind="@User.Firstname" required/>
            </span>
        </div>
        <div class="form-row">
            <span class="col-sm-5">
                <label class="col-form-label">Last Name</label>
            </span>
            <span class="col-sm-7 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="oi oi-person"></i></span>
                </div>
                <input class="form-control" type="text" placeholder="Last Name" bind="@User.Lastname" required/>
            </span>
        </div>
        <div class="form-row">
            <span class="col-sm-5">
                <label class="col-form-label">Password</label>
            </span>
            <span class="col-sm-7 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="oi oi-lock-locked"></i></span>
                </div>
                <input class="form-control" type="password" placeholder="Password" bind="@User.Password" required/>
            </span>
        </div>
        <div>
            <div class="form-row">
                <span class="col-sm-5">
                    <label class="col-form-label">Jobs</label>
                </span>
            </div>
            <div class="container">
                <select class="select-multiple-option-type-component" multiple="multiple" onchange="@OnMultiSelectChange" onchange="selectChange(this)" ref="@multiSelect">
                    @foreach (Job job in Jobs)
                    {
                        <option value="@job.Id">@job.Name</option>
                    }
                </select>
            </div>
        </div>
    </ModalContent>
    <FooterContent>
        @if (User.Id != default)
        {
            <ObjectBaseFooterView ObjectState="BlazorAgenda.Shared.Enums.ObjectState.Edit" OnDelete="@Delete" />
        }
        else
        {
            <ObjectBaseFooterView ObjectState=@BlazorAgenda.Shared.Enums.ObjectState.Add />
        }
    </FooterContent>
</ModalTemplateView>