@using BlazorAgenda.Client.Services
@using BlazorAgenda.Services.Interfaces
@using BlazorAgenda.Client.Views.BaseViews
@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared.Models

@inherits WorkhoursViewModel

<ModalTemplateView Title="@Title" OnClose="@OnClose" IsVisible="true" OnSubmit="@Save">
    <ModalContent>
        <div class="form-row">
            <span class="col-sm-4">
                <label class="col-form-label">Staff member</label>
            </span>
            <span class="col-sm-8 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="oi oi-person"></i></span>
                </div>
                <select class="form-control" bind="@SelectedStaffMember" required>
                    <option value="" selected hidden disabled>-- Choose a staff member --</option>
                    @foreach (User staffMember in StaffMembers)
                    {
                        <option value="@staffMember.Id">@staffMember.Firstname @staffMember.Lastname</option>
                    }
                </select>
            </span>
        </div>
        <div class="form-row">
            <span class="col-sm-4">
                <label class="col-form-label">Begin</label>
            </span>
            <span class="col-sm-8 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="oi oi-clock"></i></span>
                </div>
                <input class="form-control col-sm-8" type="date" bind="@Start" format-value="yyyy-MM-dd" required="required" />
                <input class="form-control col-sm-4" type="time" bind="@Start" format-value="HH:mm" required="required" />
            </span>
        </div>
        <div class="form-row">
            <span class="col-sm-4">
                <label class="col-form-label">End</label>
            </span>
            <span class="col-sm-8 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="oi oi-clock"></i></span>
                </div>
                <input class="form-control col-sm-8" type="date" bind="@End" min="@Start.ToString("yyyy-MM-dd")" format-value="yyyy-MM-dd" required="required" />
                <input class="form-control col-sm-4" type="time" bind="@End" format-value="HH:mm" required="required" />
            </span>
        </div>
    </ModalContent>
    <FooterContent>
        @if (Workhours.Id != default)
        {
            <ObjectBaseFooterView ObjectState="BlazorAgenda.Shared.Enums.ObjectState.Edit" OnDelete="@Delete" />
        }
        else
        {
            <ObjectBaseFooterView ObjectState=@BlazorAgenda.Shared.Enums.ObjectState.Add />
        }
    </FooterContent>
</ModalTemplateView>